* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: fit-content;
  background-color:darkseagreen;
  min-height: 100px;
  margin-left: 40px;
  padding: 10px;
  border-radius: 10px;
}

.card ul {
  list-style: none;
}

.card ul li {
  background-color: white;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

li button {
  width: 40px;
  background-color: red;
}

.idk {
  display: flex;
  justify-content: center;
  gap: 50px ;
}
.text {
  display: flex;
  flex-direction: column;
}